@import url('https://fonts.googleapis.com/css2?family=Inter&family=Sora:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sora:wght@300;400;500;600&display=swap');


*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

nav {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;  
    padding: 1.2rem;
}
nav img {
    width: 4rem;
}
ul#menu {
    display: flex;

    list-style: none;
    gap: 1rem;
    font-family: "Inter", sans-serif, Arial;
}
nav ul li{
    padding:0 1rem 0 1rem
}

section#banner {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #eff8ff;
}
section#banner div h1,p {
    font-size: 3rem;
    font-family: "Sora", sans-serif, Arial;
    font-weight: 600;
    color: #293145
}
button#btn-register {
    background-color:#0F9AFE;
    padding: 1rem 2rem;
    border: none;
    border-radius: 2rem;
    box-shadow: #0F9AFE80 2px 2px 0px 0px;
    font-family: "Inter", sans-serif, Arial;
    font-weight: 500;
    color: #ffff;
    width: 12rem;
    font-size: 1.1rem;
    cursor: pointer;
    transition: .2s;
}

button#btn-register:hover{
    background-color: #30668d;
}

div#text-btn-banner {
    display:flex;
    flex-direction: column;
    gap: 1.5rem;
}

section#about {
    display: flex;
    flex-direction: column;
    gap: 3rem;

    padding: 3rem;
}
section#about h2{
    font-size: 2rem;
    font-family: "Sora", sans-serif, Arial;
    font-weight: 500;
    text-align: center;
}

div#cards-about {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
}
div.card-about {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: 15rem;
}
div.card-about i{
    color:#0F9AFE;
    font-size: 2.5rem;
}
div.card-about h3{
    font-size: 1rem;
    font-family: "Sora", sans-serif, Arial;
    font-weight: 500;
}
div.card-about p{
    font-size: .8rem;
    font-family: "Inter", sans-serif, Arial;
    font-weight: 300;
    text-align: center;
}